<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ravrapp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb563385481168762</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.547133332369-vtj6rboalnqio16er0seav2jjfqq40sn</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.151859030837-io5d5ic4b356gfu2dnof5kj2u0jb1e5u</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.547133332369-kq43s986h2mfl44qhp4vucdim0crqjag</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>563385481168762</string>
	<key>FacebookDisplayName</key>
	<string>ravrapp</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
    <string>tel</string>
    <string>telprompt</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow ravrapp to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow ravrapp to use the camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow ravrapp experiences to access your contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow ravrapp to use your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow ravrapp to use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow ravrapp to use your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow ravrapp to access your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow ravrapp to access your device&apos;s accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give ravrapp periences permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Give ravrapp periences permission to access your photos</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow ravrapp to access your reminders</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
